* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #a9e34b, #82c91e, #0acf34);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

header {
    font-family: 'Koulen', cursive;
    font-size: 5rem;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1, 
#change_background_and_image h2,
#requests h2 {
    background: linear-gradient(to right, #d6336c, #fcc419, #e03131, #be4bdb);
    background-clip: text;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
    -webkit-text-fill-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator {
    min-width: 50rem;
    max-width: 70rem;
    height: 45rem;
    background-color: #82c91e;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5rem;
    margin-bottom: 50rem;
}

#calculator #inputs {
    font-size: 1.8rem;
    color: #fff;
    font-style: italic;
}

#calculator #inputs div {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

#calculator #inputs div input {
    border: none;
    padding-left: 5rem;
    margin-left: 2rem;
}

#calculator p {
    font-size: 1.4rem;
    color: #fff;
}

#calculator #operations, #calculator #controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#calculator button {
    height: 3rem;
    border: #fff solid 0.3rem;
    color: #5c940d;
    margin: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}

#calculator #operations button {
    width: 45%;
    background-color: #c0eb75;
}

#calculator #controls button {
    width: 40%;
    background-color: #ffec99;
    border: solid 0.3rem #f08c00;
}

#calculator button:hover {
    transform: scale(1.05);
    background-color: transparent !important;
    cursor: pointer;
}

#calculator #operations button:hover{
    border: #f08c00 dashed 0.3rem;
    color: #f08c00;
}

#calculator #controls button:hover {
    border: #e03131 dashed 0.3rem;
    color: #e03131;
}

.disabledBtn {
    border: #e03131 solid 0.2rem !important;
    text-decoration: line-through red 0.2rem;
    cursor: not-allowed !important;
}

.incorrectField {
    border: none;
    background: linear-gradient(to right, transparent, #ff3300 60%);
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
}

.blank {
    animation: for_blank 0.7s ease infinite;
    background-color: transparent;
    color: #ff3300;
    text-transform: uppercase;
}

@keyframes for_blank {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/******************************************************************/

#change_background_and_image {
    padding-top: 5rem;
    width: 100%;
    font-style: italic;
    color: #343a40;
    background-color: #20c997;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#change_background_and_image h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

#change_background_and_image #image_part,
#change_background_and_image #background_part {
    font-size: 1.6rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

#change_background_and_image #image_part img {
    min-width: 30rem;
    width: 70%;
}

#change_background_and_image #image_part input, 
#change_background_and_image #background_part input {
    border: #000 solid 0.1rem;
    font-size: 1.6rem;
    margin: 2rem auto;
    padding-left: 1rem;
}

#change_background_and_image #image_part button {
    background-color: #d6336c;
    border: #fff solid 0.2rem;
    color: #fff;
    font-size: 1.6rem;
    height: 3rem;
    min-width: 25rem;
    max-width: 30rem;
}

#change_background_and_image #background_part button {
    background-color: #f08c00;
    border: #fff solid 0.2rem;
    color: #fff;
    font-size: 1.6rem;
    height: 3rem;
    min-width: 25rem;
    max-width: 50rem;
}

#change_background_and_image button:hover {
    transition: all ease-in-out 1s;
    transform: rotate(1deg);
    letter-spacing: 0.5rem;
}

#change_background_and_image button {
    background-color: #e03131;
    border: #fff solid 0.2rem;
    color: #fff;
    font-size: 1.6rem;
    height: 3rem;
    min-width: 25rem;
    max-width: 30rem;
    margin-bottom: 5rem;
}

/***************************************************************************/

#requests {
    background-color: #141d2b;
    padding-top: 5rem;
    width: 100%;
    font-style: italic;
    color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#requests h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

#requests p {
    font-size: 1.8rem;
    color: #a4b1cd;
    margin-bottom: 2rem;
}

#requests select, #requests #setHeader, #clear {
    background-color: #9fef00;
    border: none;
    height: 3rem;
    min-width: 25rem;
    max-width: 30rem;
    text-align: center;
    margin-bottom: 3rem;
}

#requests select:hover, #requests button:hover {
    transition: transform 1s ease;
    transform: scale(1.1);
    cursor: pointer;
}

#requests #url {
    min-width: 25rem;
    max-width: 30rem;
    color: #000;
    margin-bottom: 3rem;
}

#requests label {
    color: #a4b1cd;
    font-size: 1.4rem;
}

#requests input {
    margin-bottom: 2rem;
}

#requests #send {
    width: 10rem;
    height: 10rem;
    background-color: #9fef00;
    border: #9fef00 dotted 0.5rem;
    background-clip: padding-box;
    border-radius: 50%;
    margin-bottom: 3rem;
}

#requests textarea {
    margin-bottom: 5rem;
}